.header{
    text-align: right;
}
table{
    width: 1000px;
    height: 400px;
    border-collapse: collapse;
    border: 1px solid black;
}
tr,td{
    text-align: left;
    padding: 15px;
}
tr:first-child{
    background-color: aliceblue;
}
tr:nth-child(even){
    background-color: coral;
}